.swap-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
}

/* search bar & filters */
.swap-filter-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
  padding: 0 5px;
}

.swap-search-bar-container {
  width: min(100%, 600px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.swap-search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* filters (category & condition) */
.swap-category-filter-container,
.swap-condition-filter-container {
  position: relative;
  cursor: pointer;
}

.swap-category-value-box,
.swap-condition-value-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.swap-category-value-box input,
.swap-condition-value-box input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.swap-category-value-box svg,
.swap-condition-value-box svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.swap-category-dropdown,
.swap-condition-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: top;
}

.swap-category-dropdown.show,
.swap-condition-dropdown.show {
  transform: scaleY(1);
  max-height: 200px;
}

.swap-category-dropdown::-webkit-scrollbar,
.swap-condition-dropdown::-webkit-scrollbar {
  opacity: 0;
  width: 0;
}

.swap-category-dropdown li,
.swap-condition-dropdown li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.swap-category-dropdown li:hover,
.swap-condition-dropdown li:hover {
  background-color: #f5f5f5;
}

/* Masonry product list */
.swap-product-list {
  column-count: 5; /* default büyük ekran */
  column-gap: 20px;
  width: 100%;
}

/* Ürün yoksa */
.swap-no-products {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #555;
}

/* Loader */
.swap-bottom-loader {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #555;
}

/* Responsive */
@media (max-width: 1200px) {
  .swap-product-list {
    column-count: 4;
  }
}

@media (max-width: 900px) {
  .swap-product-list {
    column-count: 3;
  }
}

@media (max-width: 600px) {
  .swap-product-list {
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .swap-product-list {
    column-count: 1;
  }
}
