.swap-product-card {
  display: inline-block; /* masonry için önemli */
  width: 100%;
  break-inside: avoid;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.swap-image-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.swap-product-card-image {
  width: 100%;
  height: auto; /* dinamik yükseklik */
  display: block;
  object-fit: cover;
}

.swap-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleY(0);
  transition: transform 0.3s ease;
  z-index: 1;
  border-radius: 12px;
  transform-origin: top;
}

.swap-image-box:hover .swap-image-overlay {
  transform: scaleY(1);
  transform-origin: bottom;
}

.swap-image-overlay p {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--poiret);
}

.swap-image-overlay p:hover {
  text-decoration: underline;
}

.swap-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 10px;
  box-sizing: border-box;
}

.swap-product-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.swap-title,
.swap-price {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: var(--poiret);
}

/* Bookmark */
.swap-ui-bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swap-ui-bookmark input {
  display: none;
}

.swap-ui-bookmark .swap-bookmark {
  color: rgb(164, 164, 164);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease;
}

.swap-ui-bookmark .swap-bookmark:hover {
  color: rgb(165, 164, 164);
}

.swap-ui-bookmark .swap-bookmark.active {
  color: var(--orange);
  animation: swap-bookmark-scale 0.3s forwards;
}

@keyframes swap-bookmark-scale {
  50% {
    transform: scaleY(0.6);
  }
  100% {
    transform: scaleY(1);
  }
}

/* Responsive width için inline-block kullanıyoruz */
@media (min-width: 576px) {
  .swap-product-card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .swap-product-card {
    width: 100%;
  }

  .swap-title {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .swap-product-card {
    width: 100%;
  }

  .swap-title {
    font-size: 1.4rem;
  }
}
